.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out; /* Add animation for form container */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .form input:focus,
  .form textarea:focus {
    border-color: rgb(164, 132, 247);
  }
  
 .back button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(164, 132, 247);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #e3b0fd;
  }
  